---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>CookieConsent v3 - Astro</h1>
		<a href="https://cookieconsent.orestbida.com/" target="_blank">Documentation</a>
		</br>
		</br>
		<button type="button" id="reset-btn">Reset plugin</button>
		</br>
		<button type="button" id="toggle-theme-btn">Toggle custom theme</button>
	</main>
</Layout>

<script>
  import { reset, run } from 'vanilla-cookieconsent';
	import { config } from '../components/CookieConsentConfig';

	const resetBtn = document.getElementById("reset-btn");
	const toggleThemeBtb = document.getElementById("toggle-theme-btn");

	resetBtn?.addEventListener('click', () => {
		reset(true);
		run(config);
	});

	toggleThemeBtb?.addEventListener('click', () => {
		document.body.classList.toggle('cc--elegant-black');
	});
</script>